.card-banner{
  background:url('../images/beijing.jpg');
  display: flex;
  justify-content: flex-end;
}
.card-banner>div{
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 9em;
  padding-bottom: 1em;
}
.card-banner>div p{
  margin-top: 1.5em;
  margin-bottom: 0;
  color: #fff;
  font-size: 1.1em;
  padding-left: 0.5em;
}
.fangke{
  display: flex;
  flex-direction: column;
}
.fangke span{
  color: #fff;
  font-size: 0.8em;padding-right: 0.5em;
}
.mycard-main{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-bottom: 1em;border: 1px solid #ccc;
}
.mycard-main>div{
  width: 33%;
  text-align: center;
}
.mycard-main>div:nth-child(1) img{
  position: absolute;
  top: -4em;
  width: 26%;
  left: 1em;
}
.mycard-main>div:nth-child(1) p{
  padding-top: 2.5em;
  margin: 0;
}
.mycard-main>div:nth-child(2){
  text-align: left;
}
.mycard-main>div:nth-child(2) span{
  color: #ccc;
  font-size: 0.8em;
}
.mycard-main>div:nth-child(3) img{
  width: 70%;
}
